*{
    margin: 0%;
    padding: 0%;
    /* background-image: url("/assets/Taniboen\ Background.png");
    background-size: cover;
    background-position: center; */
    font-family: 'Poppins';
}

body{
    background: rgba(238, 242, 247, 1);
}

.introduction-container{
    background: url('/assets/background-introduction.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction{
    background: rgba(233, 232, 211, 0.6); 
    backdrop-filter: blur(1px); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    border-radius: 10px;
}

.intro-title{
    font-weight: bold;
    font-size: 35px;
}

.intro-greet{
    font-size: 25px;
}

.information-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
}

.carouselcontainer{
    justify-content: center;
    align-items: center;
}

.slider-wrapper{
    position: relative;
    max-width: 75rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 0.75rem 1.5rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 10px;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-type: start;
    object-fit: cover;
    transition: all 0.5s ease;
}

.slider input{
    display: none;
}


.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
    background: hsla(0, 0%, 0%, 0.25);
}

.dots label:hover {background: rgba(81, 131, 0, 1);}

#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}

.searchcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 130px;
    border: solid 0.5px;
    border-color: hsla(0, 0%, 0%, 0.25);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: grey;
}

.searchicon img{
    width: 30px;
    height: 30px;
}

.searchicon{
    margin: 10px;
}

.headline1{
    display: flex;
    font-size: 35px;
    font-weight: bold;
    width: 86%;
}

.information-vege{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}

.information-row{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 40px;
    flex-wrap: wrap;
}

.information-row a{
    text-decoration: none;
}

.obj{
    border-radius: 10px;
    padding-bottom: 20px;   
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.75rem 1.2rem -1rem hsla(0, 0%, 0%, 1);
    gap: 20px;
    background-color: white;
    width: 350px;
    height: 450px;
}

.obj label{
    color: black;
    font-size: 20px;
    text-align: center;
    font-size: 18px ;
}

.topobj{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 25px;
    gap: 10px;
}

#product-name{
    font-weight: bold;
}

#product-price{
    font-weight: bolder;
    color: rgba(81, 131, 0, 1);
    font-size: 20px;
}

#product-location{
    color: rgba(105, 105, 105, 1);
    font-weight: bold;
}

#product-rating{
    color: rgba(105, 105, 105, 1);
    font-weight: bold;
}

#product-sold{
    color: rgba(105, 105, 105, 1);
    font-weight: bold;
}

.bottomobj{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.leftbottom img{
    width: 20px;
    height: 20px;
}

.vege-img{
    height: 350px;
    width: 350px;
    box-shadow: 0 0 1rem -0.1rem hsla(0, 0%, 0%, 0.1);
    border-radius: 10px 10px 0 0;
}

/* @media only screen and (max-width: 1500px) {
    .information-row{
        display: flex;
        flex-direction: column;
    }
  } */