@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/logo taniboen remove bg2.png">
    <link rel="stylesheet" href="/css/Taniboen_Navbar.css">
    <link rel="stylesheet" href="/css/TaniBoen_HomeGuest_Page.css">
    <link rel="stylesheet" href="/css/Taniboen_Footer.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>TaniBoen</title>
</head>
<body>

    <div class="navbar">
        <div class="left-section">
            <a asp-controller="Home" asp-action="Index">
                <img src="/assets/logo taniboen remove bg2.png" alt="logo taniboen">
            </a>
            TaniBoen
        </div>
        <div class="right-section">
            <ul class="menu">
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Login" asp-action="UserLogin">Login</a>
                </li>
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Register" asp-action="UserRegister">Sign Up</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="introduction-container">
            <div class="introduction">
                <div class="intro-title">
                    Mari Berbelanja di TaniBoen!
                </div>

                <div class="intro-greet">
                    Segarkan Hidup Anda dengan Produk Pertanian Terbaik dari TaniBoen!
                </div>
            </div>

        </div>
        <div class="information-title">
            Ingin Beli Apa Hari Ini?
        </div>

        <section class="carouselcontainer">
            <div class="slider-wrapper">
                <div class="slider">
                    <input type="radio" name="slide" id="img1" checked>
                    <input type="radio" name="slide" id="img2">
                    <input type="radio" name="slide" id="img3">
                    <input type="radio" name="slide" id="img4">

                    <img class="m1" src="/assets/slider1.jpg" alt="slider1">
                    <img class="m2" src="/assets/slider2.jpg" alt="slider2">
                    <img class="m3" src="/assets/slider3.png" alt="slider3">
                    <img class="m4" src="/assets/slider4.png" alt="slider4">
                </div>
                <div class="dots">
                    <label for="img1"></label>
                    <label for="img2"></label>
                    <label for="img3"></label>
                    <label for="img4"></label>
                </div>
            </div>
        </section>

        <a asp-controller="Login" asp-action="UserLogin" class="searchcontainer">
            <div class="searchicon"><img src="/assets/searchicon.png" alt=""></div>
            <div class="searchtext">Search</div>
        </a>



        <div class="information-vege">
            <div class="headline1">Produk Terlaris</div>
            <div class="information-row">
                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>

                </a>
                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>
                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>
                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>

                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>
                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>
                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>
                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="information-vege">
            <div class="headline1">Jasa Terpopuler Saat Ini</div>
            <div class="information-row">
                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>
                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>
                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>
                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>

                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>
                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>
                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>
                <a asp-controller="Login" asp-action="UserLogin">
                    <div class="obj">
                        <img src="/assets/kangkung.jpg" class="vege-img">
                        <section class="topobj">
                            <label for="product-name" id="product-name">Sayur Kankung Segar...</label>
                            <label for="product-price" id="product-price">Rp12.000</label>
                            <label for="product-location" id="product-location">Kota Bogor</label>
                        </section>
                        <div class="bottomobj">
                            <div class="leftbottom">
                                <img src="/assets/ratingicon.png" alt="ratingicon">
                                <label for="product-rating" id="product-rating">4.0</label>
                            </div>
                            <div class="rightbottom">
                                <label for="product-sold" id="product-sold">500 terjual</label>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="footer-upper">
            <div class="footer-upper-left">
                <div class="footer-upper-left-title">
                    Tentang TaniBoen
                </div>
                <div class="footer-upper-left-content">
                    Taniboen Indonesia dengan bangga fokus pada membangun masa depan yang kaya untuk pertanian Indonesia. Kami tinggal dan bekerja di daerah tersebut serta mewakili kepentingan dan aspirasi para produsen utama dan komunitas pedesaan, memberikan nilai nyata dalam setiap hal yang kami lakukan.
                </div>
            </div>
            <div class="footer-upper-right">
                <div class="footer-upper-right-title">
                    Kontak Kami
                </div>
                <div class="footer-upper-right-content">
                    <div class="locationfooter">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Cengkareng, Jakarta Barat</span>
                    </div>
                    <div class="emailfooter">
                        <i class="fa-solid fa-envelope"></i>
                        <span>taniboen@gmail.com</span>
                    </div>
                    <div class="phonefooter">
                        <i class="fa-solid fa-phone"></i>
                        <span>+62 813509080</span>
                    </div>
                    <div class="webfooter">
                        <i class="fa-solid fa-globe"></i>
                        <span>www.taniboen.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            Copyright &copy; 2024 [TaniBoen] All Rights Reserved
        </div>
    </div>

    <script src="/js/Taniboen_Navbar.js"></script>

</body>
</html>