@model TaniBoen.Models.LoginUserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/logo taniboen remove bg2.png">
    <link rel="stylesheet" href="/css/Taniboen_Navbar.css">
    <link rel="stylesheet" href="/css/Taniboen_Login_Page.css">
    <link rel="stylesheet" href="/css/Taniboen_Footer.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>TaniBoen</title>
</head>
<body>

    <div class="navbar">
        <div class="left-section">
            <a asp-controller="HomeGuest" asp-action="IndexGuest">
                <img src="/assets/logo taniboen remove bg2.png" alt="logo taniboen">
            </a>
            TaniBoen
        </div>
        <div class="right-section">
            <ul class="menu">
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="HomeGuest" asp-action="IndexGuest">Home</a>
                </li>
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Login" asp-action="UserLogin">Login</a>
                </li>
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Register" asp-action="UserRegister">Sign Up</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>

    <div class="main">
        <section>
            <div class="form-box">
                <div class="form-value">
                    <form id="form-login" action="UserLogin" method="post" autocomplete="off">
                        <div class="login-title">
                            <img src="/assets/logo taniboen remove bg2.png" alt="logo-taniboen">
                            <h2>Login</h2>
                        </div>
                        <div class="inputbox" id="email-input">
                            <ion-icon name="mail-outline"></ion-icon>
                            <input type="text" required id="input-email" asp-for="Email">
                            <label for="email">Email</label>
                        </div>
                        <div class="inputbox" id="password-input">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" required id="input-pass" asp-for="Password">
                            <label for="password">Password</label>
                        </div>
                        <div class="forget">
                            <label for="forget"><input type="checkbox">Remember Me </label>
                            <a href="#">Forget Password</a>
                        </div>
                        <a href="../Views/Home/Index.cshtml">
                            <input type="submit" value="Login" id="login">
                        </a>
                        <div class="register">
                            <p>Don't have an account? <a asp-controller="Register" asp-action="UserRegister">Register</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <div class="footer">
        <div class="footer-upper">
            <div class="footer-upper-left">
                <div class="footer-upper-left-title">
                    Tentang TaniBoen
                </div>
                <div class="footer-upper-left-content">
                    Taniboen Indonesia dengan bangga fokus pada membangun masa depan yang kaya untuk pertanian Indonesia. Kami tinggal dan bekerja di daerah tersebut serta mewakili kepentingan dan aspirasi para produsen utama dan komunitas pedesaan, memberikan nilai nyata dalam setiap hal yang kami lakukan.
                </div>
            </div>
            <div class="footer-upper-right">
                <div class="footer-upper-right-title">
                    Kontak Kami
                </div>
                <div class="footer-upper-right-content">
                    <div class="locationfooter">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Cengkareng, Jakarta Barat</span>
                    </div>
                    <div class="emailfooter">
                        <i class="fa-solid fa-envelope"></i>
                        <span>taniboen@gmail.com</span>
                    </div>
                    <div class="phonefooter">
                        <i class="fa-solid fa-phone"></i>
                        <span>+62 813509080</span>
                    </div>
                    <div class="webfooter">
                        <i class="fa-solid fa-globe"></i>
                        <span>www.taniboen.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            Copyright &copy; 2024 [TaniBoen] All Rights Reserved
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="~/js/UserLogin.js"></script>
    <script src="~/js/Taniboen_Navbar.js"></script>


</body>
</html>
