@model LoginUserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/logo taniboen remove bg2.png">
    <link rel="stylesheet" href="/css/Taniboen_Navbar.css">
    <link rel="stylesheet" href="/css/Taniboen_Login_Page.css">
    <link rel="stylesheet" href="/css/Taniboen_Footer.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>Taniboen</title>
</head>
<body>

    <div class="navbar">
        <div class="left-section">
            <a href="Taniboen_Home_Page.html">
                <img src="/assets/logo taniboen remove bg2.png" alt="logo taniboen">
            </a>
            Taniboen
        </div>
        <div class="right-section">
            <ul class="menu">
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Login" asp-action="UserLogin">Login</a>
                </li>
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Register" asp-action="UserRegister">Sign up</a>
                </li>
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="ShoppingCart" asp-action="ShoppingCart">
                        <img src="/assets/shopping-cart-removebg-preview.png" alt="shopping-cart">
                    </a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>

    <div class="main">
        <section>
            <div class="form-box">
                <div class="form-value">
                    <form id="login-form" action="Login" method="post" autocomplete="off">
                        <div class="login-title">
                            <img src="/assets/logo taniboen remove bg2.png" alt="logo-taniboen">
                            <h2>Login</h2>
                        </div>
                        <div class="inputbox" id="email-input">
                            <ion-icon name="mail-outline"></ion-icon>
                            <input type="text" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="inputbox" id="password-input">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="forget">
                            <label for="forget"><input type="checkbox">Remember Me </label>
                            <a href="#">Forget Password</a>
                        </div>
                        <input type="submit" value="Login" id="login">
                        <div class="register">
                            <p>Don't have an account? <a href="Taniboen_SignUp_Page.html">Register</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <div class="footer">
        <div class="footer-upper">
            <div class="footer-upper-left">
                <div class="footer-upper-left-title">
                    About Taniboen
                </div>
                <div class="footer-upper-left-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit perspiciatis reiciendis tempore, eum corporis enim dolores modi doloremque quo asperiores architecto, alias incidunt saepe iste quidem, quisquam eaque porro fuga!
                </div>
            </div>
            <div class="footer-upper-right">
                <div class="footer-upper-right-title">
                    Contacts
                </div>
                <div class="footer-upper-right-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime tempore nostrum ex sapiente molestias qui voluptate nemo expedita unde inventore, aspernatur quaerat! Quam, libero nobis corrupti sequi eligendi vitae numquam.
                </div>
            </div>
        </div>
        <div class="footer-lower">
            Copyright &copy; 2024 [Taniboen] All Rights Reserved
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/js/Taniboen_Navbar.js"></script>

    <!-- gw pelajarin tempaltenya dari video ini:
    https://www.youtube.com/watch?v=1H-vSHVOxoU -->

</body>
</html>
